<form action="<%= (typeof actionPath === 'undefined') ? '/songs' : actionPath %>", method="POST">
    <% if (typeof actionPath !== 'undefined') { %>
      <input type="hidden" name="id" value="<%= formData.id %>">
    <% } %>
  
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"  name = "name" class="form-control" value="<%= formData.name %>">
    </div> 
    
    <div class="form-group">
        <label for="artist">Artist</label>
        <select name="artist" class="form-control">
            <option>Select an Artist</option>
            <% for (let artist of artists) { %>
                <option <%= (artist === formData.artist) && 'selected' %> value="<%= artist.id %>"><%= artist.name %></option>
            <% } %>
        </select>
    </div>
  
    <div class="form-group">
      <label for="dateOfPublished">Date of Published</label>
      <input type="datetime-local" name="dateOfPublished" class="form-control" value="" 
      <%= (formData.dateOfPublished) %>
      />
    </div>
  
    <div class="form-group">
      <button class="btn btn-dark">Submit</button>
    </div>
  </form>